<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Thomas Thornton</h1>
					<h2>Software Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3>@Html.ActionLink("Download PDF", "Pdf", "Home", null, new { @class = "button" })</h3>
						@*<h3><a class="button" href="#">Download DOC</a></h3>*@
						<h3><a href="mailto:thomas.thornton.jr@jr.com">thomas.thornton.jr@gmail.com</a></h3>
						<h3>(480) - 286-9845</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
                Results-driven, customer-focused and analytical Software
                Engineer. Expert in C# and the .NET framework. Passion for
                delivering high-quality software that customers love.
                Interested in a challenging technical career track in
                a software engineering environment.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Desktop Development</h2>
									<p>Develop high-quality and modern desktop applications for
                  Windows.</p>
								</div>

								<div class="talent">
									<h2>Web Development</h2>
									<p>Create beautiful and complex websites while maintaining
                  a high degree of usability.</p>
								</div>

								<div class="talent">
									<h2>Service Oriented Architectures</h2>
									<p>Experience creating multi-tier, distributed systems.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C#</li>
								<li>WPF</li>
								<li class="last">ASP.NET MVC</li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>WCF Services</li>
								<li class="last">Git</li>
							</ul>

							<ul class="talent">
								<li>Clojure</li>
								<li>Windows</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Intel</h2>
								<h3>Software Engineer - WPF Desktop Applications</h3>
								<h4>2007-2012</h4>
								<p>Develop WPF based engineering analysis applications. Create
                a scalable service-oriented archictecture using WCF services to effectively and efficiently perform data-analysis, statistical testing and commonality analysis.</p>
							</div>

							<div class="job">
								<h2>Intel - cont.</h2>
								<h3>Software Engineer - Web Developer</h3>
                <p>Create ASP.NET MVC 3 web applications for distributing,
                administrating and maintaining key applications.</p>
							</div>

							<div class="job">
								<h2>Intel - cont.</h2>
								<h3>Software Engineer - Java/Documentum Developer</h3>
                <p>Build customizations and extensions for the EMC Dcoumentum
                enterprise content management platform.</p>
							</div>
              
							<div class="job">
								<h2>Intel - cont.</h2>
                <h3>Software Engineer - ASP.NET</h3>
                <p>Develop ASP.NET web application supporting Intel's IT
                infrastructure.</p>
							</div>

							<div class="job">
								<h2>JPMorgan Chase</h2>
								<h3>Personal Banker</h3>
								<h4>2005-2007</h4>
								<p>Provide personal banking services, financial planning.
                Series 6/63 licensed.</p>
							</div>

							<div class="job last">
								<h2>Wish</h2>
								<h3>Personal Side Project</h3>
								<h4>Current</h4>
								<p>Building an advanced command line replacement for the
                Windows operating system. Currently pending release.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Arizona State University - Tempe, Arizona</h2>
							<h3>Computer Science &mdash; <strong>3.5 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Thomas Thornton &mdash; <a href="mailto:thomas.thornton.jr@gmail.com">thomas.thornton.jr@gmail.com</a> &mdash; (480) - 286-9845</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
